@{
    ViewBag.Title = "Online Court Portal";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">to the Online Court Portal</p>
</div>

<div class="row">
    Are you a Judge?
    @Html.ActionLink("Click Here", "CaseOfficer", "Claim")

    <br/>

    Do you want to start an allegation?
    @Html.ActionLink("Click Here", "CaseOfficer", "Claim")

    <br/>

    Are you a Defendent?
    @Html.ActionLink("Click Here", "CaseOfficer", "Claim")
</div>