@{
    ViewBag.Title = "Online Court Portal";
}

<style>
    .tile{
        float:left;
        height:150px;
        width:200px;
        border-radius: 15px;
        background-color:mediumaquamarine;
        text-align:center;
        padding:10px;
        margin:10px;
        font-size:30px;
        vertical-align:middle;
    }

    .tile a
    {
        color:white;
        text-decoration:none;
    }

    .tile a:hover
    {
        text-decoration:none;
    }

    .row{
      width: 60%;
      margin: 0 auto;
    }
</style>

<div class="jumbotron">
    <table style="width:100%">
        <tr>
            <td>
                <h1>Welcome</h1>
                <p class="lead">to the Online Solutions Court</p>
            </td>
            <td style="float:right;">
                <img src="~/Content/HM_Courts_&_Tribunals_Service.png" />
            </td>
        </tr>
    </table>
</div>
<div class="row">

    <div class="tile">
        @Html.ActionLink("Claimant Portal", "Claimant", "Claim")
    </div>

    <div class="tile">
         @Html.ActionLink("Judges Portal", "CaseOfficer", "Claim")
    </div>

    <div class="tile">
        @Html.ActionLink("Defendant Portal", "Defendent", "Claim")
    </div>

</div>