
@using OnlineCourt.Models
@model Claim

<div class="row">
    <div class="col-sm-6">
        <div class="claimantHeaderInfo">
            <h4>Claimant</h4>
            <div>@Model.ClaimantName</div>
            <div>@Html.Raw(HttpUtility.HtmlEncode(Model.ClaimantAddress).Replace("\n", "<br/>"))</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="defendantHeaderInfo">
            <h4>Defendant</h4>
            <div>@Model.DefendantName</div>
            <div>@Html.Raw(HttpUtility.HtmlEncode(Model.DefendantAddress).Replace("\n", "<br/>"))</div>
        </div>
    </div>
</div>
<br/>
<div class="btn-group">
    <a class="btn btn-default" href="~/Claim/Video" target="_new">
        <i class="fa fa-user-circle"></i> Meet Now
    </a>
    <a class="btn btn-default" href="https://appear.in/OnlineSolutionsCourt" target="_new">
        <i class="fa fa-calendar"></i> Meet Later
    </a>
    <a class="btn btn-default" href="#">
        <i class="fa fa-stop-circle"></i> Invite Early Case Assessment
    </a>
    <a class="btn btn-default" href="#">
        <i class="fa fa-comments"></i> Recommend Mediation
    </a>
</div>
