
@{
    ViewBag.Title = "Settlement Discussion";
}

<style>
    .from {
        background-color:deepskyblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
        background-color:lightgreen;
    }

    .to {
        margin-top:10px;
        background-color:cornflowerblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
        background-color:darkolivegreen;
    }
</style>

<h2>Settlement Discussion</h2>

You have entered an online settlement conversation. The discussions that you have in this online room will not be available to the judge or the Court unless either party applies for an order for costs when these discussions will be made available  to the Judge.
    <br/><br/>You can use this room to:
    <ul>
        <li>Make an offer in respect of the claim;</li>
        <li>Accept or reject an offer made in respect of this claim;</li>
        <li>Discuss concessions you are willing to make to narrow the issues in respect of the claim and encourage settlement</li>
    </ul>

@*<table style="width:100%; margin-top:5px;">
    <tr>
        <td class="from">
            
           ....
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="to">
           ....
        </td>
    </tr>

</table>*@
