
@{
    ViewBag.Title = "Conciliation";
}

<style>
    .tile {
        float: left;
        height: 150px;
        width: 200px;
        border-radius: 15px;
        background-color: mediumaquamarine;
        text-align: center;
        padding: 10px;
        margin: 10px;
        font-size: 30px;
        vertical-align: middle;
    }

        .tile a {
            color: white;
            text-decoration: none;
        }

            .tile a:hover {
                text-decoration: none;
            }

    .row {
        width: 40%;
        margin: 0 auto;
    }
</style>

<br/>

<div class="row">

    <div class="tile">
        @Html.ActionLink("Book a Conciliation Hearing", "BookaConciliation", "Claim")
    </div>

    <div class="tile">
        @Html.ActionLink("Start a Conciliation", "Video", "Claim")
    </div>

</div>

