
@{
    ViewBag.Title = "Settlement Discussion";
}

<style>
    .from {
        background-color:deepskyblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
        background-color:lightgreen;
    }

    .to {
        margin-top:10px;
        background-color:cornflowerblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
        background-color:darkolivegreen;
    }
</style>

<h2>Settlement Discussion</h2>

<table style="width:100%; margin-top:5px;">
    <tr>
        <td class="from">
            
           ....
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="to">
           ....
        </td>
    </tr>

</table>
