
@{
    ViewBag.Title = "Judge";
}

<script>
    $(function () {
        //$("#accordion").accordion();
    });
</script>

<h2>Judge</h2>

<div>
    Please find below your current list of allegations for you to action.
</div>

<div id="accordion">
    <h3>Mr Daniel Foster: Allegation 1</h3>
    <div>
       <p>
            Summary of allegation here
       </p>
        <p>
             - Buttons -

            Raise a question? | View Conversations | View Conversations

        </p>
    </div>
    <h3>Mr Ben William: Allegation 2</h3>
    <div>
       <p>
            Two
        </p>
   </div>
</div>


